.modal-alert.modal.fade
	.col-lg-3

	.col-lg-6
		.well
			.modal-header
				button.close(data-dismiss='modal') &times;
				h3
			.modal-body
				p
			.modal-footer
				button(data-dismiss="modal")#ok.btn.btn-warning OK

	.col-lg-3