extends layout

block content

        div.jumbotron.text-center
            h1 Page Not Found 
                small
                    font(face="Tahoma", color="red") Error 404
                    
            br
            p The page you requested could not be found, either contact your webmaster or try again. Use your browsers <b>Back</b> button to navigate to the page you have prevously come from
            
            br
            p <b>Or you could just press this neat little button:</b>
            a(href="/").btn.btn-info
                i.icon-home.icon-white
                | Take Me Home