// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#account-form-container
	form( method="post")#account-form.well
		fieldset
			.form-group
				label(for='name-tf') Name
				input#name-tf.form-control(type='text', name='name', value= user.name)
			.form-group
				label(for='email-tf') Email
				input#email-tf.form-control(type='text', name='email', value= user.email)
			.form-group
				label(for='country-list') Location
				select#country-list.form-control(name='country')
					each item in countries
						option(selected=item.name == user.country)= item.name
			hr
			p.subheading#sub2
			.form-group
				label(for='user-tf') Username
				input#user-tf.form-control.disabled(type='text', name='user', value= user.user)
			.form-group
				label.control-label(for='pass-tf') Password
				input#pass-tf.form-control(type='password', name='pass', value='')
			button(type='button')#account-form-btn1.btn.btn-danger
			&nbsp;
			button(type='submit')#account-form-btn2.btn

// display form errors in a custom modal window //
include modals/form-errors