extends layout

block content
    
    div.jumbotron
        h1 Welcome to YACOIN!
        p We are currently still in devlopment.
        p 
            a(href='/features').btn.btn-primary.btn-large Learn more &raquo;
            if !udata
                &nbsp;
                a(href='/signup').btn.btn-success.btn-large Sign Up &raquo;
    
    <!-- Example row of columns -->
    div.body-content
        div.row
            div.col-lg-4
                h2 Coins
                p Manage multiple coin wallets for multiple crypto currencies including Bitcoin, Litecoin, Namecoin, Devcoin, Terracoin, Feathercoin and more.
                p
                    a(href="/coins").btn.btn-default View Coins &raquo;

            div.col-lg-4
                h2 Wallets
                p View and Edit wallet details for each coin type, including addresses, QR Codes and sending/receveing funds.
                p
                    a(href="/features").btn.btn-default View Features &raquo;
        
            div.col-lg-4
                h2 Suggestions
                p Please reahc out to us using the contact form to put your suggestions forward and make recommendations for features. We also take suggestions for alternate coin types to add to YACOIN.
                p
                    a(href="/contact").btn.btn-default Contact Us &raquo;
