!!!
html
	head
		title= title
		meta(http-equiv="content-type", content="en_US")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
		meta(name="apple-mobile-web-app-title", content="YACOIN")

		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")

		link(rel="apple-touch-icon", href="/img/touch-icon-iphone.png")
		link(rel="apple-touch-icon", sizes="72x72", href="/img/touch-icon-ipad.png")
		link(rel="apple-touch-icon", sizes="114x114", href="/img/touch-icon-iphone4.png")
		link(rel="apple-touch-icon", sizes="144x144", href="/img/touch-icon-ipad2.png")

		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		//link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/css/font-awesome.min.css')
		link(rel='stylesheet', href='/css/font-awesome-ie7.min.css')
		link(rel='stylesheet', href='/css/add2home.css')
		link(rel='stylesheet', href='/css/custom.css')
		
	body
	
	div.navbar.navbar-inverse.navbar-fixed-top
		div.container
			button(data-toggle='collapse', data-target='.nav-collapse').navbar-toggle
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(href='/').navbar-brand YACOIN
			div.nav-collapse.collapse
				ul.nav.navbar-nav
					li(class=path=='/'?'active':undefined)
						a(href='/') Home
					li(class=path=='/coins'?'active':undefined)
						a(href='/coins') Coins
					//li(class=path=='/faq'?'active':undefined)
					//    a(href='/faq') FAQ
					li(class=path=='/about'?'active':undefined)
						a(href='/about') About
					li(class=path=='/features'?'active':undefined)
						a(href='/features') Features
					- if (udata)
						li(class=path=='/wallet'?'active':undefined).dropdown
							a(href='/wallet') Wallets

				- if (!udata)
					ul.nav.navbar-nav.pull-right#login-container
						li(class=path=='/signup'?'active':undefined)
							a(href="/signup") Sign Up

						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown") Sing In 
								strong.caret

							.dropdown-menu(style="padding: 15px; padding-bottom: 0px; width: 260px;")	
								form(action="/login", method="post", accept-charset="UTF-8")#login-form
									.form-group
										input.form-control(type="text", name="user", id='user-tf', placeholder="Username")
									.form-group
										input.form-control(type="password", name="pass", id='pass-tf', placeholder="Password")
									.form-group
										.checkbox
											label Remember Me
												input(type="checkbox", checked="checked", style="float: left; margin-right: 10px;")
										
									.form-group
										p
											a(href='#')#forgot-password Forgot Your Password?
									.form-group
										button.btn.btn-small.btn-primary(style="width: 100%;", type="submit")#btn-login Sign in

				- else
					ul.nav.navbar-nav.pull-right
						li(class=path=='/profile'?'active':undefined)
							a(href='/profile')
								i.icon-user.icon-white
								|  #{udata.user}
						li
							a(href='/logout')
								i.icon-lock.icon-white
								|  Sign Out
	.container
		include modals/alert
		include modals/lost-password
		block content

	.container
		.body-content
			hr
			footer
				.row
					.col-lg-12
						.col-lg-8
							a(href="#") Terms of Service
							|   |   
							a(href="#") Privacy
							|   |   
							a(href="#") Security
							|   |   
							a(href="/contact") Contact Us

							br
							br
							p#siteseal
								script(type='text/javascript', src='https://seal.godaddy.com/getSeal?sealID=YciA1vMJtXRFJKihZG6xQOjvP7YuyNOUgyxc4rijM6Gu7JD9tYltY')
					
						.col-lg-4
							p.muted.pull-right &copy; 2013 YACOIN. All rights reserved
								


	script(src='/js/jquery.min.js')
	script(src='/js/jquery.form.js')
	script(src='/bootstrap/js/bootstrap.min.js')
	script(src='/js/add2home.js')
	script(src='/js/custom.js')
	
	block scripts
		- if (!udata)
			script(src='/js/views/login.js')
			script(src='/js/controllers/loginController.js')
			script(src='/js/form-validators/loginValidator.js')
			script(src='/js/form-validators/emailValidator.js')
