extends layout

block content

	div.body-content

		div.page-header
			h1 About

		div.row
			div.col-lg-12
				p YACOIN is a pure online web wallet with an eays to use and intuitive interface.
				p This site runs on all devices and is great to use on mobile devices especialy in order to send/receive coins using a wide range of crypto currencies.
				p We have designed the site to work especialy well on mobile devices as we like everyone find the app space lacking around crypto currencies in general and if next to none offer multi currency support like we do.
