extends layout

block content

	div.body-content
		
		div.page-header
			h1 Features

		div.row
			div.col-lg-12
				ul
					li 
						h4 Address Generation
						p All of the 
							a(href="/coins") coin types
							|  we support allow for new address generation on the fly. We display all generated addresses for each coin type and even provide a QRCode for each address for easy on the fly transactions.
