extends layout

block content

    div.page-header
        h1 User List

    div.body-content
        div.row
            div.col-lg-12
                table.table.table-bordered.table-striped
                    thead
                        tr
                            th(style='width:40px') #
                            th(style='width:180px') Name
                            th(style='width:200px') Location
                            th(style='width:180px') Username
                            th(style='width:180px') ID
                            th Account Created
                    tbody
                    - for (var i = 0; i < accts.length; i++)
                        tr
                            td= i+1
                            td= accts[i].name
                            td= accts[i].country
                            td= accts[i].user
                            td= accts[i]._id
                            td= accts[i].date
