extends layout

block content

	.body-content

		.page-header
			h1 Account
			p.subheading Please tell us some details.

		.row
			.col-lg-3

			.col-lg-6
				include account
				include modals/alert
				include modals/confirm

			.col-lg-3

block scripts
	script(src='/js/views/profile.js')
	script(src='/js/controllers/accountController.js')
	script(src='/js/form-validators/accountValidator.js')