extends layout

block content

    .body-content

        .page-header#account-form
            h1
            p.subheading#sub1 Please tell us some details.

        .row
            .col-lg-3

            .col-lg-6
                include account
                include modals/alert

        .col-lg-3

block scripts
    script(src='/js/modal.js')
    script(src='/js/transition.js')
    script(src='/js/views/signup.js')
    script(src='/js/controllers/signupController.js')
    script(src='/js/form-validators/accountValidator.js')