extends layout

block content

    div.body-content

        div.page-header
            h1 Wallets
            p.subheading Select wallet below to display and create addresses.

        div.accordion(id="coins")
            each coin in coins
                div.accordion-group
                    div.accordion-heading
                        if coin.address != "Offline" & coin.balance != "Offline"
                            div.alert-success.accordion-toggle.group-accordion-toggle
                                a(data-toggle="collapse", data-parent="#coins", href="#"+coin.abr, style="text-decoration: none")
                                    i.icon-collapse
                                    b   #{coin.display} ~ #{coin.balance} #{coin.abr}

                                div.pull-right.btn-group
                                    a.dropdown-toggle(href="#", data-toggle="dropdown", style="text-decoration: none")
                                        i.icon-pencil
                                    ul.dropdown-menu(role="menu", aria-labelledby="dropdownMenu")
                                        li
                                            a(href="/new_address/" + coin.name, data-method="post") New Address

                        else
                            div.alert-danger.accordion-toggle.group-accordion-toggle
                                a(data-toggle="collapse", data-parent="#coins", href="#"+coin.abr, style="text-decoration: none")
                                    i.icon-collapse
                                    b   #{coin.display} ~ #{coin.balance}
                                i.pull-right.icon-lock

                    div(id=coin.abr, class="accordion-body collapse")
                        div.accordion-inner
                            if coin.address != "Offline" & coin.balance != "Offline"
                                if coin.address != ""
                                    each address in coin.address
                                        img(src='https://chart.googleapis.com/chart?cht=qr&chs=100x100&chl=' + address + '=H|0')
                                        | #{address}
                                        br
                                else
                                    p No addresses.
                            
                            else
                                p #{coin.display} is offline temporarily. Please check back shortly.