.modal-confirm.modal.fade
	.col-lg-3

	.col-lg-6
		.well
			.modal-header
				button.close(data-dismiss='modal') &times;
				h3
			.modal-body
				p
			.modal-footer
				button(data-dismiss="modal").cancel.btn Cancel
				button.submit.btn Ok

	.col-lg-3