.modal-form-errors.modal.fade
	.col-lg-3

	.col-lg-6
		.well

			.modal-header
				button.close(data-dismiss='modal') &times;
				h3 Whoops!
			.modal-body
				p.subheading It looks like there was a problem.
				ul
			.modal-footer
				button(data-dismiss="modal").btn.btn-warning OK

	.col-lg-3