#get-credentials.modal-single-input.modal.fade
	.col-lg-3

	.col-lg-6
		.well
			.modal-header
				button.close(data-dismiss='modal') &times;
				h3 Retrieve Password
			.modal-body
				form.form(method="post")#get-credentials-form
					p Please enter the email address associated with your account
					.form-group
						input(type="text", name="email", id='email-tf').required.form-control
			.modal-footer
				.pull-right
					button(data-dismiss="modal")#cancel.btn.btn-danger Cancel
					button(type="submit")#submit.btn.btn-primary Submit

	.col-lg-3