#set-password.modal-single-input.modal.fade
	.col-lg-3

	.col-lg-6
		.well

			.modal-header
				h3 Reset Password
			.modal-body
				form( method="post")#set-password-form.well.span5
					p Please enter your new password
					input(type="password", name="pass", id='pass-tf').span5.required
					button(type="submit")#submit.btn.btn-primary Submit
					.alert.alert-error.hide
					button(data-dismiss="alert").close
			.modal-footer

	.col-lg-3