extends layout

block content

	div.body-content

		div.page-header
			h1 Contact

		div.row

			div.col-lg-3

			div.col-lg-6

				// preset form values if we receive a userdata object //
				- user = typeof(udata) != 'undefined' ? udata : { }
				// store the userId on the client side in a hidden input field //
				input(type='hidden', value= user._id)#userId

				#contact-form-container
					form( method="post")#contact-form.well
						fieldset
							.form-group
								label(for='name-tf') Name
								input#name-tf.form-control(type='text', name='name', value= user.name)
							.form-group
								label(for='email-tf') Email
								input#email-tf.form-control(type='text', name='email', value= user.email)
							.form-group
								label(for='subject-tf') Subject
								select.form-control(name='subject')
									option General
									option Coin Suggestion
							.form-group
								label(for='message-tf') Message
								textarea#message-tf.form-control(type='text', name='message', rows='6')

							button(type='submit')#contact-form-btn2.btn.btn-primary Submit

				// display form errors in a custom modal window //
				include modals/form-errors

			div.col-lg-3