extends layout

block content

    .body-content

        .page-header
            h1 Login
            p.subheading Please login to your account.

        .row
            .col-lg-3

            .col-lg-6
                #login-container
                    form(method="post")#login-form.well
                        .form-group
                            label Username 
                            input(type="text", name="user", id='user-tf').required.form-control
                        .form-group
                            label Password
                            input(type="password", name="pass", id='pass-tf').required.form-control

                        button(type="submit")#btn-login-page.btn.btn-primary.pull-right
                            i.icon-lock.icon-white
                            |   Sign in

                        .checkbox
                            label Remember Me
                                input(type="checkbox", checked='checked')

                        .btm-links
                            a(href='#')#forgot-password Forgot Your Password?

            .col-lg-3

block scripts
    script(src='/js/views/login.js')
    script(src='/js/controllers/loginController.js')
    script(src='/js/form-validators/loginValidator.js')
    script(src='/js/form-validators/emailValidator.js')