extends layout

block content

	div.body-content

		div.page-header
			h1 Coins

		div.row
			each coin in coins
				div.col-lg-4
					div.thumbnail(style="margin-bottom: 10px")
						div.text-center
							if coin.img
								img(src="#{coin.img}", alt="#{coin.display}")
							h3 #{coin.display}
							if coin.desc
								p #{coin.desc}
							if coin.url
								p
									a(href="#{coin.url}", target="_blank").btn.btn-default
										i.icon-share-alt 
										| Website
